# Keys for main application
OPENAI_API_KEY=
MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=

# Keys for notebook development
HF_TOKEN=

# Usernames used for Makefile and GitHub Actions (act)
DOCKER_USERNAME=
HF_USERNAME=

# Local CI/CD testing with ACT
GITHUB_TOKEN=
GIT_USERNAME=
GIT_USER_EMAIL=
DOCKER_TOKEN=